# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../:\GitHub\Repository\CLD1015\Current_And_Temperature_Controller_Examples\Python\CLD10xy Laser Diode Controllers\Django\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
