<!DOCTYPE html>
<html>

<head>

    <!-- <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"> -->
    <!-- <script src="{{url_for('static', filename='js/scripts.js')}}"></script> -->

    <!-- 在VS Code中测试用 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/scripts.js"></script>

    <link rel="shortcut icon" href="../static/img/f.ico" />
    <title>CLD1015 Control</title>

</head>

<body>

    <h1>LD Status: <span id="ld-status">OFF</span></h1>

    <div>
        <button class="button" onclick="turnOn()">Turn On LD</button>
        <button class="button" onclick="turnOff()">Turn Off LD</button>
    </div>

    <h1>Current Setpoint: <span id="setpoint-value">{{ setpoint }}</span> A</h1>
    <form>
        <label for="setpoint">New Setpoint:</label>
        <input placeholder="请输入要设定的电流值" type="number" id="setpoint" name="setpoint" min="0" max="1" step="0.001"
            oninput="if(value>1)value=1" onkeydown="if (event.keyCode == 13) { setSetpoint(); return false; }">
        <br>
        <input class="button" type="button" value="Set" onclick="setSetpoint()">
    </form>

</body>

</html>